@font-face {
  font-family: "iconfont"; /* Project id 4538371 */
  src: url('//at.alicdn.com/t/c/font_4538371_r7bm678qfue.woff2?t=1718290288996') format('woff2'),
       url('//at.alicdn.com/t/c/font_4538371_r7bm678qfue.woff?t=1718290288996') format('woff'),
       url('//at.alicdn.com/t/c/font_4538371_r7bm678qfue.ttf?t=1718290288996') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxitongji:before {
  content: "\e9a0";
}

.icon-denglutongji:before {
  content: "\e68e";
}

.icon-icon_xytjbb:before {
  content: "\e657";
}

.icon-yonghuzhucetongji:before {
  content: "\e604";
}

.icon-yonghutongji:before {
  content: "\e620";
}

.icon-yonghu:before {
  content: "\e624";
}

.icon-shangchuantupian:before {
  content: "\e6e9";
}

.icon-shezhi:before {
  content: "\e851";
}

.icon-16:before {
  content: "\e61e";
}
