@font-face {
  font-family: "iconfont"; /* Project id 4538371 */
  src: url('//at.alicdn.com/t/c/font_4538371_m91rdt4elca.woff2?t=1721011320736') format('woff2'),
       url('//at.alicdn.com/t/c/font_4538371_m91rdt4elca.woff?t=1721011320736') format('woff'),
       url('//at.alicdn.com/t/c/font_4538371_m91rdt4elca.ttf?t=1721011320736') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jianyi:before {
  content: "\e6d3";
}

.icon-bug-delay:before {
  content: "\e807";
}

.icon-tupianguanli1:before {
  content: "\e639";
}

.icon-wenzhang:before {
  content: "\e625";
}

.icon-xiaoxitongji:before {
  content: "\e9a0";
}

.icon-denglutongji:before {
  content: "\e68e";
}

.icon-icon_xytjbb:before {
  content: "\e657";
}

.icon-yonghuzhucetongji:before {
  content: "\e604";
}

.icon-yonghutongji:before {
  content: "\e620";
}

.icon-yonghu:before {
  content: "\e624";
}

.icon-shangchuantupian:before {
  content: "\e6e9";
}

.icon-shezhi:before {
  content: "\e851";
}

.icon-16:before {
  content: "\e61e";
}
