:root{
    --bg: #f0eeee;
    --order:#f0eeee;
    --slide:#2b3539;
    --text: #17171b;
    --card_bg: rgb(241, 241, 241);
    --card_border: #e2e2e2;
    --active:#1782FFFF;
    --gradient_bg:linear-gradient( 135deg, #372462 10%, #9e5fca 100%);
    --h2:#333333;
}
.dark{
    --bg: #535353;
    --order: #656464;
    --slide: #1c1a1a;
    --text: #cfcfcc;
    --card_bg: black;
    --card_border: #ca2f2f;
    --active:#1782FFFF;
    --gradient_bg:radial-gradient( circle 1292px at -13.6% 51.7%,  rgba(0,56,68,1) 0%, rgba(163,217,185,1) 51.5%, rgba(255,252,247,1) 88.6% );
    --h2:#333333;
}


